# Dependencies
node_modules
**/*/node_modules

# lerna
lerna-debug.log

# lock files
**/**/yarn.lock
**/**/package-lock.json

# build artifacts
arapp_local.json
*/**/artifacts
*/**/build
*/**/cache
*/**/dist
*/**/abis.json
*/**/flattened_contracts

# misc
.env